<html>

<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - DomainDash</title>
    {% endblock %}

    <style>
    table, th, td {
        border: 1px solid black;
    }
    .failed {
        color: red;
    }
    </style>

</head>
    <body>
        <div id='header'>
            <a href = '{{ url_for('index') | safe }}'> Index</a>
            <h1>DomainDash</h1>
        </div>
        <div id='content'>
            {% block content %} {% endblock %}
        </div>
        <div id='footer'>
            <br>
            &copy; 2018
        </div>
    </body>
</html>