{% extends "base.j2" %}
{% block title %}
{{ domain_name }}
{% endblock %}
{% block content %}
        Name: {{ domain_name }}
        <br>
        Registrar: <a href='{{ whois.registrar[0] | google_search}}' target='_blank'>{{ whois.registrar[0] }}</a>
        <br>
        Nameservers:
        {% for nameserver in whois.nameservers %}
        <a href='https://whatismyipaddress.com/ip/{{ nameserver }}'>{{ nameserver }}</a>
        {% endfor %}
        <br>
        Registrar creation date: {{ whois.creation_date[0] | datetimeformat }}
        <br>
        Registrar updated date: {{ whois.updated_date[0] | datetimeformat }}
        <br>
        Registrar expiration date: {{ whois.expiration_date[0] | datetimeformat }}
        <br>
        SSL certificate expiration_date: {{ ssl_expiry_date | datetimeformat }}
        <br>
        {{ mxtoolbox_report['Failed'] }}

{% endblock %}