{% extends "base.j2" %}
{% block title %}
Index
{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Domain</th>
            <th>Healthy?</th>
            <th>Domain Expiration</th>
            <th>SSL Cert CA</th>
            <th>SSL Cert Expiration</th>
            <th>MXToolbox</th>
        </tr>

    {% for domain in domains %}
        <tr>
            <td> <a href='http://localhost:5000/detail/{{ domain.domain_name }}'>{{ domain.domain_name }}</a> </td>
            <td>
                {% if domain.domain_health == False %} {{ "<b class='failed'>" | safe }} {% endif %}
                    {{ domain.domain_health }}
                {% if domain.domain_health == False %} {{ '</b>' }} {% endif %}
            </td>
            <td>
                {% if domain.domain_registration_expiry_health == False %} {{ "<b class='failed'>" | safe }} {% endif %}
                    {{ domain.domain_registration_expiry_date }}
                {% if domain.domain_registration_expiry_health == False %} {{ '</b>' }} {% endif %}
            </td>
            <td>
                {{ domain.domain_ssl_issuer_cn }}
            </td>
            <td>
                {% if domain.domain_ssl_expiry_health == False %} {{ "<b class='failed'>" | safe }} {% endif %}
                    {{ domain.domain_ssl_expiry_date }}
                {% if domain.domain_ssl_expiry_health == False %} {{ '</b>' }} {% endif %}
            </td>
            <td>
                    {% for mxtoolbox_report_type, mxtoolbox_report_response in domain_mxtoolbox_reports[domain.domain_name].items() %}
                        {% if (domain_mxtoolbox_reports[domain.domain_name][mxtoolbox_report_type]['Warnings'] | length > 0) or
                            (domain_mxtoolbox_reports[domain.domain_name][mxtoolbox_report_type]['Failed'] | length > 0) %}
                            <b> {{ mxtoolbox_report_type }}: </b>
                        
                                {% if domain_mxtoolbox_reports[domain.domain_name][mxtoolbox_report_type]['Warnings'] | length > 0 %}
                                    <br>
                                    Warnings:
                                    <br>
                                    {% for warnings in domain_mxtoolbox_reports[domain.domain_name][mxtoolbox_report_type]['Warnings']  %}
                                        {{ warnings['Name'] }}:
                                        <a href={{ warnings['Url'] }} target='_blank'>{{ warnings['Info'] }}</a>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                                {% if domain_mxtoolbox_reports[domain.domain_name][mxtoolbox_report_type]['Failed'] | length > 0 %}
                                <br>
                                    Failures:
                                    <br>
                                   {% if domain.domain_mxtoolbox_health == False %} {{ "<b class='failed'>" | safe }} {% endif %}
                                        {% for failures in domain_mxtoolbox_reports[domain.domain_name][mxtoolbox_report_type]['Failed']  %}
                                            {{ failures['Name'] }}: 
                                            <a href={{ failures['Url'] }} target='_blank'>{{ failures['Info'] }}</a>

                                            <br>
                                        {% endfor %}
                                    {% if domain.domain_mxtoolbox_health == False %} {{ '</b>' }} {% endif %}
                                {% endif %}
                        {% endif %}
                    {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <form action = '/build' method = 'post'>
        <input type='submit' value='Build Database' />
    </form>
    <form action = '/update' method = 'post'>
        <input type='submit' value='Update Database' />
    </form>
{% endblock %}